---
import Layout from '../layouts/Layout.astro';
import Tracklist from '../components/Tracklist.astro';
import LyricCard from '../components/LyricCard.astro';

const tracklist1: { title: string, featuring?: string }[] = [
	{ title: 'Le piège' },
	{ title: 'Starsky & Hutch' },
	{ title: 'Stupéfiant et noir' },
	{ title: 'Flamme olympique' },
	{ title: 'Le tour', featuring: 'Infinit\'' },
	{ title: 'Cascade Remix' },
	{ title: 'Parachute Chanel', featuring: 'Sneazzy' },
]

const tracklist2: { title: string, featuring?: string }[] = [
	{ title: 'Langage Crypté' },
	{ title: 'Pour Celles' },
	{ title: 'Olive & Tom' },
	{ title: '1500', featuring: 'OG l\'enf' },
	{ title: 'Ça va ensemble' },
	{ title: 'Contrex' },
	{ title: 'La lumière dans le noir', featuring: 'Doums' },
	{ title: 'Fugees', featuring: 'Diabi' },
	{ title: 'Une main lave l\'autre' },
	{ title: 'Macro' },
]

const lyricCards: { url: string, thumbnail: string, line: string }[] = [
	{
		thumbnail: "/alpha_wann_shoot.webp",
		url: "https://www.youtube.com/watch?v=2UMML7hPDec",
		line: "Don Dada sur le pendentif, le nom du label sur l'plexus. Connais-tu quelqu'un qui flex plus que ce jeune indépendantiste ?"
	},
	{
		thumbnail: "/umla_cover_front_transformed.webp",
		url: "https://www.youtube.com/watch?v=I1pi7-P-XwU",
		line: "Vous êtes l'Amérique, nous, la Corée du Nord, on va pas ensemble"
	},
]

---

<Layout title="UMLA - Alpha Wann">
	<main class="relative h-screen">
		<nav class="navbar z-50 flex fixed w-full px-10 py-5 items-center justify-between">
			<h1 class="text-5xl navbar-logo text-umla-yellow font-black italic">UMLA</h1>
			<div class="flex items-center gap-6">
				<button class="btn navbar-item">
					Don Dada
				</button>
				<button class="btn btn-primary navbar-button">
					<span class="inline-block skew-x-12">Concerts</span>
				</button>
			</div>
		</nav>
		<section class="hero-section relative h-[100vh]">
			<div class="hero-loading">
				<div class="hero-loading-image bg-[url('/umla_cover_front_transformed.webp')] bg-cover bg-center absolute top-0 left-0 h-[100vh] w-full">
					<div class="w-full min-h-full backdrop-blur-lg" />
				</div>
				<h1 class="hero-loading-title hero-title !text-[225px] absolute left-12 bottom-10">umla</h1>
			</div>
			<img src="/alpha_wann.webp" alt="UMLA Alpha Wann" class="hero-image absolute bottom-0 left-0 h-full" />
			<h2 class="hero-title hero-title-1 absolute left-12 bottom-[360px]"></h2>
			<h2 class="hero-title hero-title-2 absolute left-12 bottom-[200px]"></h2>
			<h2 class="hero-title hero-title-3 absolute left-12 bottom-10"></h2>
			<h3 class="hero-side-title absolute right-0 top-1/2 -rotate-90 uppercase text-white text-5xl tracking-wide font-roswell -mr-2">Alpha Wann</h3>
			<img src="/dondada-logo.webp" alt="Don Dada" style="" class="hero-side-logo absolute bottom-0 right-7 h-36" />
		</section>
		<section class="relative h-[100vh] bg-[url('/alpha_wann_concert.webp')] bg-cover bg-center">
			<div class="grid grid-cols-12 gap-6 auto-rows-min pt-24 h-full backdrop-brightness-50">
				<div class="text-white text-[110px] leading-[.9] font-black italic col-start-3 col-span-9">
					Une main lave l'autre
				</div>
				<Tracklist tracklist={tracklist1} classes="col-start-5 col-end-12" />
				<div class="col-start-4 col-end-10 text-white text-[70px] leading-[.9] font-black italic">
					Alpha Wann
				</div>
				<div class="col-start-6 col-end-8 text-white text-5xl font-rama-gothic font-semibold leading-[.9]">
					21/09/2018
				</div>
				<Tracklist tracklist={tracklist2} classes="col-start-6 col-end-13 ml-8" />
			</div>
		</section>
		<section class="relative h-[100vh] bg-umla-yellow overflow-hidden">
			<h1 class="text-white/25 font-black italic text-[500px] absolute -bottom-16 -left-8 leading-[.9]">UMLA</h1>
			<div class="flex snap-x snap-mandatory gap-24 h-full overflow-x-scroll no-scrollbar">
				<div class="shrink-0 aspect-video my-auto w-[160px] relative" />
				{lyricCards.map(({ url, thumbnail, line }, index) =>
					<LyricCard url={url} thumbnail={thumbnail} line={line} index={index} />
				)}
				<div class="shrink-0 aspect-video my-auto w-[160px]" />
			</div>
		</section>
	</main>
</Layout>

<script src="../scripts/script.ts"></script>

<style>

	.hero-section {
		background: linear-gradient(180deg, rgba(42,133,184,1) 0%, rgba(69,163,157,1) 50%, rgba(193,178,118,1) 85%);
	}

</style>